#sidebar {
    background-color: #343a40;
    color: white;
    min-height: 100vh;
}

#sidebar .nav-link {
    color: #b8c1ec;
}

#sidebar .nav-link:hover {
    background-color: #495057;
    color: white;
}

#sidebar .nav-link.active {
    background-color: #495057;
    color: white;
}

/* Tùy chỉnh stats card */
.card {
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    font-weight: bold;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Tùy chỉnh table */
.table-responsive {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Box shadow cho card */
.card.shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}