    :root {
      --primary-color: #003cff;
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--primary-color);
      border-radius: 10px;
    }

    .bold {
      font-weight: bold;
    }

    hr {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .blur {
      position: absolute;
      align-self: start;
      box-shadow: 0 0 1000px 50px #3300ff;
      z-index: -100;
    }

    .blur-mini {
      box-shadow: 0 0 1000px 10px #3300ff;
      z-index: -100;
    }

    .blur-right {
      position: absolute;
      box-shadow: 0 0 1000px 50px #3300ff;
      z-index: -100;
    }

    .blur-center {
      position: absolute;
      box-shadow: 0 0 1000px 50px #3300ff;
      z-index: -100;
    }

    .cs-hover {
      cursor: pointer;
    }

    .input-focus:focus {
      border: 1px solid #6b757d;
      box-shadow: none;
  }

    /* preloader */
    .preloader {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 2s;
      width: 100%;
      height: 100vh;
      background-color: #2125294d;
      backdrop-filter: blur(2rem);
      opacity: 1;
      z-index: 10000;
    }

    .loader {
      position: absolute;
      width: 100px;
      aspect-ratio: 1;
      display: grid;
      border: 10px solid #0000;
      border-radius: 50%;
      border-color: #ffffff #0000;
      animation: l16 1s infinite linear;
      transition: 1s;
    }

    .loader2{
      width: 200px;
    }

    .loader::before,
    .loader::after {
      content: "";
      grid-area: 1/1;
      margin: 2px;
      border: inherit;
      border-radius: 50%;
    }

    .loader::before {
      border-color: var(--primary-color) #00000000;
      animation: inherit;
      animation-duration: .5s;
      animation-direction: reverse;
    }

    .loader::after {
      margin: 8px;
    }

    @keyframes l16 {
      100% {
        transform: rotate(1turn)
      }
    }

    .preloader.unactive {
      opacity: 0;
      pointer-events: none;
    }

    .preloader.unactive .loader {
      opacity: 0;
      pointer-events: none;
    }

    /* preloader */

    ::selection {
      background-color: var(--primary-color);
      color: white;
    }

    header {
      background-color: var(--primary-color);
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .form-select,
    .form-select:valid:focus {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      .op-1 {
        opacity: 1;
      }

      .op-0 {
        opacity: 0;
      }

      .loader2{
        width: 100px;
      }
    }

    @media screen and (min-width: 769px) {
      .op-1 {
        opacity: 1;
      }

      .op-0 {
        opacity: 0;
      }

      .op-md-1 {
        opacity: 1;
      }

      .op-md-0 {
        opacity: 0;
      }
    }